body{
  font-family: 'Inter', sans-serif;
  background-color: black;
  text-align: center;
  cursor: auto;
}

h1{
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  font-size: 200%;
  color: black;
  letter-spacing: 1px;
}

h2,h3{
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  font-size: 160%;
  color: black;
  letter-spacing: 1px;
}

.round-pic{
  max-width: 20%;
  max-height: 20%;
  border-radius: 50%;
  border: 1px solid black;
}

a{
  text-decoration: none;
  font-weight: 300;
}

/* unvisited link & visited link*/
a:link, a:visited {
  color: black;
}

/* mouse over link, selected link */
a:hover, a:active {
  color: #FFCEFE;
}

.button{
  padding: 10px;
  font-weight: 600;
  background-color: #FFCEFE;
  border-radius: 12px;
  cursor: pointer;
  justify-content: center;
  text-align: center;
}

.button:hover{
  background-color: black;
}

div{
  width: auto;
  margin: 40px 5%;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: #f7e0f6 0px 10px 23px -4px;
}

.list_inline{
  padding: 0;
}

.list_inline li{
  display: inline;
  max-width: 5%;
  max-height: 5%;
}

i{
  font-size: 50px;
  margin: 8px;
}
